/*---样式清除开始----*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
    border: 0;
    outline: 0;
}

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*---样式清除结束------*/
*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    font-family: ff-tisa-web-pro, Georgia, sans-serif;
}
#warp{
    width:1080px;
    margin:50px auto;
    color: #333;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#header{
    width:160px;
    position: relative;
    transition: all 0.3s;
}
#header h1{
    display: block;
    width:120px;
    height:120px;
    background: url("../img/food-sense.png") no-repeat 0 0;
    transition: all .3s ease;
}
#header h1:hover{
    opacity: .85;
}
#header ul{
    width:100%;
}
#header ul>li{
    margin-bottom: 8px;
}
#header ul>li:last-child{
    margin-bottom: 0;
}
#header a{
    display: inline-block;
    width:100%;
    height: 32px;
    color: #34AC98;
    font-size: 15px;
    font-style: italic;
    padding:10px 10px 0 50px ;
    background-repeat:no-repeat;
    background-position: 0 0;
    transition: all 0.3s;
}
#header .one{
    background-image: url("../img/nav-tastemakers.png");
}
#header .two{
    background-image: url("../img/nav-blog.png");
}
#header .three{
    background-image: url("../img/nav-alist.png");
}
#header .four{
    background-image: url("../img/nav-contribute.png");
}
#header .five{
    background-image: url("../img/nav-about.png");
}
#header nav{
    margin-top: 35px;
}
#header a:hover{
    background-position: 5px 0;
    color: #EC6635;
}
#social{
    position: absolute;
    width:160px;
    top:452px;
    color: #333;
    left:0;
}
#social #son{
    margin-bottom: 32px;
    padding-right: 20px;
}
#social #son p{
    display: block;
    margin: 0 0 9px;
    padding-bottom: 5px;
    font-size: .7em;
    border-bottom: 1px dashed #E5E5E5;
}
#social #son a{
    display: block;
    width:110px;
    height:24px;
    font-size: 12px;
    border:1px solid #E5E5E5;
    border-radius: 5px;
    line-height: 22px;
    padding: 4px 0 0 24px;
    background:url("../img/icon-twitter-16.png") no-repeat 6px 6px;
}
#social #son a:hover{
    border-color: #D3EDE9;
    color: #EC6635;
    background-color:#EFF8F7 ;
}
#social #sons p:nth-child(1){
    display: block;
    margin: 0 0 9px;
    padding-bottom: 5px;
    font-size: .7em;
    border-bottom: 1px dashed #E5E5E5;
}
#social #sons p:nth-child(2){
    display: block;
    margin: 0 0 9px;
    padding-bottom: 5px;
    font-size: .7em;
    margin-left:2px;
}
#social #sons a{
    display: block;
    width:110px;
    height:24px;
    font-size: 12px;
    border:1px solid #E5E5E5;
    border-radius: 5px;
    line-height: 22px;
    padding: 4px 0 0 24px;
    background:url("../img/icon-facebook-16.png") no-repeat 6px 6px;
}
#social #sons a:hover{
    border-color: #D3EDE9;
    color: #EC6635;
    background-color:#EFF8F7 ;
}

/*轮播图*/
#content{
    width:896px;
}
#featured{
    width:100%;
    height:560px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
#sildes{
    width:100%;
    height:445px;
    overflow: hidden;
    position: relative;
}
#featured h1{
    display: block;
    padding: 10px 20px 12px;
    color: #222;
    background: #FFF;
    position: absolute;
    font-style: italic;
    font-size: 1.4em;
    top:300px;
    right: 0;
}
#featured h2{
    display: block;
    padding: 12px 18px 12px;
    color: #FFF;
    background: #222;
    position: absolute;
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
    top:350px;
    right: 0;
}
#featured a:hover{
    opacity: 0.8;
}
#sildes img{
    width:896px;
    height: 446px;
    position: absolute;
}
#nav{
    width:896px;
    height:85px;
}
#nav a{
    display: inline-block;
    width:191px;
    height:60px;
    color: #60BEAE;
    padding: 25px 12px 0 20px;
    float: left;
    background-color: rgb(239,248,247);
    border-right: 1px solid #D3EDE9;
}
#nav>ul>li:nth-child(3) a{
    background-color: rgb(217,239,236);
}
#nav>ul>li:nth-child(4) a{
    border-right: none;
}
#nav a p{
    font-size: .75em;
}
#nav a:hover{
    color: #EC6635;
}

/*邮箱*/
#email{
    overflow: hidden;
    width: 100%;
    min-height: 48px;
    margin-bottom: 29px;
    line-height: 1em;
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
    background: url(../img/icon-mailinglist-32.png) no-repeat 18px 7px;
}
#email p{
    display: block;
    width:49%;
    float: left;
    font-size: 12px;
    font-style: italic;
    padding:7px 24px 0 66px;
}
#email form{
    margin-top:11px;
    display: block;
    float: left;
}
#email input:nth-child(1){
    display: inline;
    width:260px;
    height: 1.8em;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    float: left;
}
#email input:nth-child(2){
    display: inline;
    width:auto;
    padding: 3px 10px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    margin-left:15px;
    float: left;
}

/*内容*/
#recent{
    width:100%;
    margin-bottom:18px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}
#recent > div{
    width: 206px;
    float: left;
    margin: 0 24px 25px 0;
}
#recent > div img{
    width:185px;
    padding:9px;
    border:1px solid #E5E5E5;
    box-shadow: 1px 1px 3px #F5F5F5;
}
#recent >div h2{
    margin: 10px 5px 10px;
    color: #34AC98;
}
#recent > div > a:hover{
    opacity: 0.8;
    color: #EC6635;
}
#recent > div p{
    font-size: 14px;
    line-height: 1.45em;
    margin-bottom: 8px;
}
#recent > div p > time{
    color: #AAA;
}
#recent > div p > a{
    color: #34AC98;
}

/*底部*/
#siteinfo{
    display: block;
    width:100%;
    height:80px;
    border-top: 2px solid #E5E5E5;
    color: #AAA;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#siteinfo p:nth-child(1){
    font-size: 0.75em;
    line-height: 1.5em;
    color: #AAA;
}
#siteinfo p:nth-child(1) a{
    color: #34AC98;
}
#siteinfo p:nth-child(2) span{
    display: inline-block;
    width:32px;
    height:32px;
    margin-right: 2px;
    opacity:0.5;
    background: url("../img/icon-twitter.png") no-repeat 50% 1px;
}
#siteinfo p:nth-child(2) span:nth-child(2){
    background: url("../img/download.png") no-repeat 50% 1px;
}
#siteinfo p:nth-child(2) span:nth-child(3){
    background: url("../img/icon-rss.png") no-repeat 50% 1px;
}
#siteinfo p:nth-child(2) span:hover{
    opacity:1;
}

@media screen and (max-width: 1176px) and (min-width: 991px){
    #warp {
        width:896px;
    }
    #content{
        width:712px;
    }
    #featured{
        height:510px;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
    }
    #sildes{
        height:446px;
    }
    #sildes img{
        left: -92px;
    }
    #nav{
        width:712px;
        height:35px;
    }
    #nav a{
        display: inline-block;
        width:177px;
        height:25px;
        padding: 8px 0 2px;
        text-align: center;
        float: left;
    }
    #nav p{
        display: none;
    }
    #email input:nth-child(1){
        width:160px;
    }
    #recent > div{
        width:160px;
    }
    #recent > div img{
        width:139px;
    }
}
@media screen and (max-width: 991px) and (min-width: 712px){
    #warp {
        width:712px;
        margin: 20px auto;
        display: flex;
        flex-flow: row wrap;
    }
    #header{
        width:712px;
        height:120px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    #header ul>li{
        display: inline-block;
        margin-left: 35px;
    }
    #header a{
        padding: 40px 0 0 0;
        background-position: 50% 0;
    }
    #header a:hover{
        background-position: 50% 5px;
    }
    #content{
        width:712px;
        margin-top: 20px;
    }
    #featured{
        height:510px;
    }
    #sildes{
        height:446px;
    }
    #sildes img{
        left: -92px;
    }
    #nav{
        width:712px;
        height:35px;
    }
    #nav a{
        display: inline-block;
        width:177px;
        height:25px;
        padding: 8px 0 2px;
        text-align: center;
        float: left;
    }
    #nav p{
        display: none;
    }
    #featured h1{
        top:431px;
    }
    #featured h2{
        top:480px;
    }
    #email input:nth-child(1){
        width:160px;
    }
    #social{
        display: none;
    }
    #recent > div{
        width:160px;
    }
    #recent > div img{
        width:139px;
    }
}
@media screen and (max-width: 767px) and (min-width: 480px){
    #warp{
        width:480px;
        margin: 20px auto;
        display: flex;
        flex-flow: row wrap;
    }
    #header{
        width:480px;
        height:120px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    #header a{
        padding: 0;
        background-image: none !important;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 20px;
    }
    #header ul>li{
        display: inline-block;
        margin-left: 0;
    }
    #header ul{
        margin-left: 15px;
    }
    #content{
        width:480px;
        margin-top: 20px;
    }
    #featured{
        height:310px;
    }
    #sildes{
        height:248px;
        overflow: inherit;
    }
    #sildes img{
        left:0;
        max-width: 100%;
        max-height: 100%;
    }
    #nav{
        display: none;
    }
    #featured h1{
        top: 353px;
        width:460px;
        background-color: rgba(255,255,255,.8);
        padding: 10px 10px;
        font-size: 0.8em;
    }
    #featured h2{
        width: 460px;
        top:383px;
        font-size: 0.5em;
        padding: 9px 10px 11px;
        text-align: left;
    }
    #email p{
        width:85%;
    }
    #email input:nth-child(1){
        width:310px;
    }
    #email form{
        margin-left:20px;
        margin-bottom: 20px;
    }
    #social{
        display: none;
    }
    #recent{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    #recent > div{
        width:195px;
    }
    #recent > div img{
        width:195px;
    }
}
@media screen and (max-width: 480px) and (min-width: 320px){
    #warp{
        width: 320px;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
    }
    #header{
        width:320px;
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: center;
    }
    #header a{
        padding: 0;
        background-image: none !important;
        font-size: 12px;
        margin-left: 10px;
    }
    #header ul>li{
        display: inline-block;
        margin-left: 0;
    }
    #header h1{
        flex: 0 1 auto;
        align-self: center;
    }
    #header nav{
        display: block;
        border-bottom: 1px solid gainsboro;
        line-height: 44px;
        margin: 2px 0 20px 0;
    }
    #content{
        width:320px;
        margin-top: 20px;
    }
    #featured{
        height:248px;
    }
    #sildes{
        height:248px;
    }
    #sildes img{
        left:-80px;
        max-width: 500px;
        max-height: 100%;
    }
    #nav{
        display: none;
    }
    #featured h1{
        top: 428px;
        width:300px;
        background-color: rgba(255,255,255,.8);
        padding: 10px 10px;
        font-size: 0.8em;
    }
    #featured h2{
        width: 300px;
        top:458px;
        left:0;
        font-size: 0.5em;
        padding: 9px 10px 11px;
        text-align: left;
    }
    #email{
        margin-top:60px;
    }
    #email p{
        width:85%;
    }
    #email input:nth-child(1){
        width:160px;
    }
    #email form{
        margin-left:20px;
        margin-bottom: 20px;
    }
    #social{
        display: none;
    }
    #recent{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #recent > div{
        width:258px;
    }
    #recent > div img{
        width:258px;
    }
}